*,
::after,
::before {
  box-sizing: border-box;
}

.site-header-outer {
  background-color: #173b3f;
}

.site-header-inner {
  color: #fff;
  padding: 20px 0 0;
  width: 1320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  color: #132128;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
@media only screen and (min-width: 1300px) {
  .main-navigation {
    max-width: unset !important;
    padding-left: 30px !important;
  }
}



.h3-style,
h1,
h2,
h3,
h5,
h6 {
  font-family: "Inria Serif", Garamond, serif;
  clear: both;
  margin: 0 0 24px;
  font-weight: 400;
}
p {
  margin-bottom: 1em;
  margin-top: 0;
  font-size: xx-smal;
}
em,
i {
  font-style: italic;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img {
  height: auto;
  max-width: 100%;
}
figure {
  margin: 1em 0;
}
.site-header {
  position: sticky;
  width: 100%;
  z-index: 9998;
  transition: all 0.25s ease-in-out;
  top: 0;
  height: 0;
  overflow-y: visible;
  background-color: rgba(255, 255, 255, 0.95);
}
.site-header-outer {
  background-color: inherit;
}

.site-branding {
  width: 322px;
  display: block;
  margin: 0 0 0 20px;
  float: left;
  line-height: 0;
  flex: 0 1 auto;
  padding-bottom: 15px;
  padding-left: 100px;
}
.site-header .site-branding img {
  width: 100%;
  height: auto;
}

.link-ex {
  color: #40c15f;
}

.header-logos {
  text-align: center;
  padding: 0 125px 0 125px;
}

/** split the header into two columns **/
.second-row-flex {
    flex-grow: 1;
}
.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;

}

.h2-split {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.site-content {
  overflow-x: hidden;
  padding: 0;
  margin: 120px auto 0;
  z-index: 1;
  position: relative;
  background: inherit;
}

.content:nth-of-type(1) {
    margin: 0 auto;
}

.banner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-grow: 1;
    gap: 30px
}

.right-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 50%;
    flex-grow: 1;
}

.stpper-wrapper {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}
ol {
  list-style: decimal;
  padding-inline-start: 24px;
  margin: 0 0 1.5em;
  padding-inline-start: 24px;
  box-sizing: border-box;
}
/* li {
  display: list-item;
  text-align: -webkit-match-parent;
} */
ol.is-style-circle-list {
  counter-reset: circlesection;
  list-style-type: none;
}
ol.is-style-circle-list li {
  position: relative;
  padding-left: 5.5rem;
  margin-bottom: 24px;
  padding-top: 18px;
  font-weight: 300;
}
ol.is-style-circle-list li strong {
  display: inline-block;
  padding: 0 0 12px;
  font-weight: 700;
}
ol.is-style-circle-list li::before {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #000102;
  counter-increment: circlesection;
  content: counter(circlesection);
  position: absolute;
  top: 1rem;
  left: 0;
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  border: 1px solid #132128;
}
.is-style-circle-list li::after {
  --tw-bg-opacity: 1;
  background-color: #132128;
  content: "";
  height: calc(100% - 40px);
  position: absolute;
  left: 2rem;
  top: 5rem;
  width: 0.125rem;
}
.stepper-wrapper ol.is-style-circle-list li::before {
  color: black;
  border: 1px solid black;
}
.stepper-wrapper ol.is-style-circle-list li:last-child::after {
      background-color: transparent;
}

/** footer section */

.site-footer {
    background-color: #173B3F;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    z-index: 1;
}

.site-footer-inner {
    padding: 40px 20px 40px 20px;
    max-width: 1320px;
    margin: 0px auto;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

.site-footer .site-info {
    text-align: center;
    font-size: 75%;
}

.footer-widgets {
    display: flex;
}
.widget_block {
    width: 16%;
}
.widget_block:nth-child(1) {
    width: 26%;
}
.footer-widgets > .widget:first-child img {
    max-width: 180px;
}

.site-footer strong {
    font-weight: 700;
}

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

.widget ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-inline-start: 24px;
}

.wp-container-39 {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    background:none;
}

.wp-container-39 li {
    color: white;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-linkedin,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-tiktok {
    background-color: transparent;
}
svg {
    font-size: 24px;
}
.wp-block-social-links.is-style-logos-only .wp-social-link svg {
    width: 1.25em;
    height: 1.25em;
    fill: white;;
}

.footer-heading {
    font-size: 14px;
    font-weight: 700;
}

.site-footer li {
    font-size: 12px;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: "Inria Serif";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/inriaserif/v14/fC16PYxPY3rXxEndZJAzN3SuT4THvl-Fbw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: "Inria Serif";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inriaserif/v14/fC1nPYxPY3rXxEndZJAzN3SuRy_lqw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
 font-display:swap;
 font-family:'Inria Serif';
 font-style:normal;
 font-weight:400;
 src:url(https://fonts.gstatic.com/s/inriaserif/v14/fC1lPYxPY3rXxEndZJAzN3Srdy0.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
