*, ::after, ::before {
  box-sizing: border-box;
}

.site-header-outer {
    background-color:#173B3F;
}

.site-header-inner {
  color: #fff;
  padding: 20px 0 0;
  width: 1320px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
}

body, button, input, optgroup, select, textarea {
  color: #132128;
  font-family: Inter,sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
@media only screen and (min-width: 1300px) {
.main-navigation {
    max-width: unset !important;
    padding-left: 30px !important;
}
}


html {
 line-height:1.15;
 -webkit-text-size-adjust:100%
}
body {
 margin:0
}
h1 {
 font-size:42px;
 line-height:50.4px
}
a {
 background-color:transparent
}
strong {
 font-weight:700
}
img {
 border-style:none
}
button,
input,
optgroup,
select,
textarea {
 font-family:inherit;
 font-size:100%;
 line-height:1.15;
 margin:0
}
button,
input {
 overflow:visible
}
button,
select {
 text-transform:none
}
[type=button],
[type=submit],
button {
 -webkit-appearance:button
}
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
 border-style:none;
 padding:0
}
[type=button]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
 outline:ButtonText dotted 1px
}
fieldset {
 padding:.35em .75em .625em
}
legend {
 box-sizing:border-box;
 color:inherit;
 display:table;
 max-width:100%;
 padding:0;
 white-space:normal
}
progress {
 vertical-align:baseline
}
textarea {
 overflow:auto
}
[type=checkbox],
[type=radio] {
 box-sizing:border-box;
 padding:0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
 height:auto
}
[type=search] {
 -webkit-appearance:textfield;
 outline-offset:-2px
}
[type=search]::-webkit-search-decoration {
 -webkit-appearance:none
}
::-webkit-file-upload-button {
 -webkit-appearance:button;
 font:inherit
}
template {
 display:none
}
.hidden,
[hidden] {
 display:none
}
body,
button,
input,
optgroup,
select,
textarea {
 color:#132128;
 font-family:Inter,sans-serif;
 font-size:18px;
 line-height:28px;
 font-weight:300
}
.h3-style,
h1,
h2,
h3,
h5,
h6 {
 font-family:'Inria Serif',Garamond,serif;
 clear:both;
 margin:0 0 24px;
 font-weight:400
}
h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
h5 a,
h5 a:visited,
h6 a,
h6 a:visited {
 color:#333
}
p {
 margin-bottom:1em;
 margin-top:0;
 font-size: xx-smal;
}
em,
i {
 font-style:italic
}
h1 {
 font-size:44px;
 line-height:52px
}
h2 {
 font-size:40px;
 line-height:48px
}
.h3-style,
h3 {
 font-size:32px;
 line-height:40px
}
h5 {
 font-family:Inter,sans-serif;
 font-size:24px;
 line-height:32px
}
h6 {
 font-size:22px;
 line-height:30px
}
@media only screen and (min-width:768px) {
 h1 {
  font-size:52px;
  line-height:60px
 }
}
html {
 box-sizing:border-box
}
*,
:after,
:before {
 box-sizing:inherit
}
body {
 background:#fff
}
.site {
 position:relative
}
ol,
ul {
 margin:0 0 1.5em;
 padding-inline-start:24px
}
ul {
 list-style:disc
}
ol {
 list-style:decimal
}
li>ol,
li>ul {
 margin-bottom:0;
 margin-left:1.5em
}
img {
 height:auto;
 max-width:100%
}
figure {
 margin:1em 0
}
table {
 margin:0 0 1.5em;
 width:100%
}

.site-header {
 position:sticky;
 width:100%;
 z-index:9998;
 transition:all .25s ease-in-out;
 top:0;
 height:0;
 overflow-y:visible;
 background-color:rgba(255,255,255,.95)
}
.site-header-outer {
 background-color:inherit
}
body.first-block-corecover:not(.takeover-enabled) .site-header,
body.single:not(.takeover-enabled) .site-header {
 background-color:transparent
}
.site-header.scrolled,
body.first-block-corecover .site-header.scrolled,
body.single .site-header.scrolled {
 background-color:rgba(255,255,255,.98)
}

.site-branding {
 width:322px;
 display:block;
 margin:0 0 0 20px;
 float:left;
 line-height:0;
 flex:0 1 auto;
 padding-bottom:15px;
 padding-left: 100px;
}
.site-header .site-branding img {
 width:100%;
 height:auto
}

.link-ex {
    color: #40c15f;
}

.header-logos {
    text-align: center;
    padding: 0 125px 0 125px;
}
body.first-block-corecover .site-header .site-branding img,
body.single .site-header .site-branding img {
 -webkit-filter:grayscale(1) invert(1) brightness(5);
 filter:grayscale(1) invert(1) brightness(5)
}
.site-header.scrolled .site-branding img {
 -webkit-filter:none!important;
 filter:none!important
}
@media only screen and (min-width:1300px) {
 .site-branding {
  margin:0 0 0 24px
 }
}
@media only screen and (min-width:1380px) {
 .site-branding {
  margin:0
 }
}
.sticky {
 display:block
}
.page,
.post {
 margin:0
}
.site-content {
 overflow-x:hidden;
 padding:0;
 margin:120px auto 0;
 z-index:1;
 position:relative;
 background:inherit
}
body.first-block-corecover .site-content,
body.single .site-content {
 margin:0 auto
}
.entry-header {
 margin:0 auto;
 padding:0 20px
}
body.single .entry-header {
 color:#fff;
 text-align:center;
 padding:160px 0;
 margin:0 0 24px
}
body.page .entry-header {
 display:none
}
.entry-title {
 padding:0 20px;
 font-size:42px;
 line-height:50.4px;
 font-weight:700;
 max-width:1044px;
 margin:0 auto
}
.entry-content>* {
 padding:0 20px;
 max-width:1320px;
 margin:0 auto
}
.wp-block-cover {
 max-width:100%
}
.wp-block-cover__inner-container {
 max-width:1320px;
 margin:0 auto
}
.entry-content>.wp-block-cover:first-child {
 min-height:100vh!important
}
.entry-content p,
.entry-content>h2,
.entry-content>p {
 margin:0 auto 24px
}
.entry-content>.wp-block-group {
 max-width:none;
 padding:0
}
.entry-content>.wp-block-group .wp-block-group__inner-container {
 padding:0 20px;
 max-width:1320px;
 margin:0 auto
}
.entry-content>.wp-block-group.has-background {
 margin:0 auto;
 padding-top:24px;
 padding-bottom:24px
}
.entry-content>.wp-block-group.has-background .wp-block-columns,
.entry-content>.wp-block-group.has-background .wp-block-image {
 margin-bottom:0
}
.entry-content>.wp-block-group.has-background .wp-block-columns .wp-block-column {
 align-self:center
}
.entry-content>.wp-block-columns {
 padding:0 20px
}
.wp-block-column h3 {
 margin:0 0 12px
}
.entry-content>.wp-block-image {
 padding:0;
 line-height:.7
}
.entry-content h1 a,
.entry-content h2 a,
.entry-content h3 a {
 text-decoration:none
}
@media only screen and (max-width:600px) {
 body.admin-bar .site-header.scrolled {
  top:0
 }
 .page article {
  overflow-x:hidden
 }
}
@media only screen and (min-width:575px) {
 body.first-block-corecover .site-content,
 body.single .site-content {
  padding-top:0
 }
}
@media only screen and (min-width:1024px) {
 .single .entry-content {
  float:left;
  width:65%
 }
}
@media only screen and (min-width:1200px) {
 .is-style-skill-pills {
  columns:4
 }
 .wp-block-column .is-style-skill-pills {
  columns:2
 }
 .wp-block-cover h1 {
  font-size:64px;
  line-height:72px;
  margin-bottom:40px
 }
 .entry-content>.wp-block-cover:first-child p {
  margin-bottom:40px
 }
}
.home .entry-header {
 display:none
}
.site-footer {
 background-color:#173b3f;
 color:#fff;
 font-family:Inter,sans-serif;
 font-size:12px;
 line-height:16px;
 position:relative;
 z-index:1
}
.site-footer-inner {
 padding:40px 20px;
 max-width:1320px;
 margin:0 auto
}
.site-footer a {
 color:#fff;
 text-decoration:none
}
.site-footer a:hover {
 text-decoration:underline
}
.footer-widgets>.widget:first-child img {
 max-width:180px
}
.site-footer strong {
 font-weight:700
}
#search-modal {
 position:absolute;
 top:-2000%;
 left:-2000%;
 width:10px;
 height:10px;
 background-color:#e6e6e6;
 z-index:999999;
 display:flex;
 align-items:center;
 justify-content:center;
 transition:opacity .25s ease-in-out;
 opacity:0;
 overflow:hidden
}
#search-modal .close-search {
 position:absolute;
 top:36px;
 right:36px;
 font-size:48px
}
#search-modal .search-field {
 min-width:280px;
 height:42px;
 padding-top:5px
}
.wp-block-social-link {
 border-radius:0
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-linkedin,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube {
 background-color:transparent
}
.site-footer .widget {
 width:45%;
 margin-right:4%;
 float:left;
 padding:5px;
 margin-top:24px
}
.site-footer .widget:first-child {
 width:100%
}
.site-footer .widget:nth-child(3) {
 margin-bottom:48px
}
@media only screen and (min-width:768px) {
 .site-branding {
  /*width:190px*/
 }
 .entry-content>.wp-block-group.has-background {
  padding-top:36px;
  padding-bottom:24px
 }
 .site-footer .widget,
 .site-footer .widget:first-child {
  width:30%;
  margin-right:2%
 }
}
embed,
iframe,
object {
 max-width:100%;
 display:block;
 margin:0 auto
}
.custom-logo-link {
 display:inline-block;
 width:100%;
 line-height:0
}
#masthead .main-navigation {
 max-width:unset!important;
 padding-left:30px!important
}
@media screen and (min-width:1300px) {
 #masthead .main-navigation .link--mobile {
  display:none!important
 }
}
@media screen and (max-width:1299px) {
 #masthead .main-navigation .link--desk {
  display:none!important
 }
 #masthead .main-navigation #mega-menu-menu-1 {
  padding-right:24px!important
 }
}
@media screen and (max-width:350px) {
 #masthead .main-navigation #mega-menu-menu-1 {
  padding-left:15px!important;
  padding-right:10px!important
 }
}
#masthead .main-navigation #mega-menu-item-73912,
#masthead .main-navigation #mega-menu-item-74683 {
 margin-right:25px!important
}
#masthead .main-navigation #mega-menu-item-71523 {
 margin-right:60px!important
}
#masthead .main-navigation #mega-menu-item-76007,
#masthead .main-navigation #mega-menu-item-77297 {
 margin-left:25px!important
}
#masthead .main-navigation #mega-menu-item-77297 {
 margin-left:60px!important
}
@media screen and (max-width:1500px) {
 #masthead .main-navigation #mega-menu-item-71523 {
  margin-right:50px!important
 }
 #masthead .main-navigation #mega-menu-item-77297 {
  margin-left:50px!important
 }
}
@media screen and (max-width:1400px) {
 #masthead .main-navigation #mega-menu-item-71523 {
  margin-right:40px!important
 }
 #masthead .main-navigation #mega-menu-item-77297 {
  margin-left:40px!important
 }
}
#masthead .main-navigation .login-dropdown {
 margin-left:35px!important;
 position:relative
}
#masthead .main-navigation .login-dropdown>.mega-menu-link {
 position:relative;
 padding-left:0!important;
 display:inline-block!important;
 width:100%!important
}
@media screen and (min-width:1299px) {
 #masthead .main-navigation .login-dropdown>.mega-menu-link {
  width:155px!important
 }
}
#masthead .main-navigation .login-dropdown>.mega-menu-link:after {
 border-right:1px solid #fff!important;
 border-top:1px solid #fff!important;
 content:""!important;
 width:8px!important;
 height:8px!important;
 transition:all .35s ease-in-out;
 display:inline-block!important;
 position:relative;
 left:2px;
 transform:translateY(-50%) rotate(135deg)
}
#masthead .main-navigation .login-dropdown .mega-sub-menu {
 border-radius:0!important;
 background-color:#fff;
 right:0!important;
 top:40px!important;
 bottom:unset!important;
 width:100%!important
}
@media screen and (min-width:1299px) {
 #masthead .main-navigation .login-dropdown .mega-sub-menu {
  width:155px!important
 }
}
#masthead .main-navigation .login-dropdown .mega-sub-menu li {
 width:unset;
 border-radius:0!important;
 background-color:#fff!important
}
#masthead .main-navigation .login-dropdown .mega-sub-menu li:hover {
 background-color:#dfeef0!important
}
#masthead .main-navigation .login-dropdown .mega-sub-menu li:hover a {
 background-color:#dfeef0!important;
 font-weight:500!important
}
#masthead .main-navigation .login-dropdown .mega-sub-menu li a {
 border-radius:0!important;
 width:unset;
 font-weight:300!important;
 background-color:#fff!important;
 color:#2b373d!important;
 font-size:16px!important;
 text-align:left!important;
 padding:10px!important;
 transition:all .25s ease-in-out!important
}
#masthead.scrolled .main-navigation .login-dropdown>.mega-menu-link:after {
 border-right:1px solid #2b373d!important;
 border-top:1px solid #2b373d!important
}
#masthead.scrolled .main-navigation .login-dropdown .mega-sub-menu {
 background-color:#173b3f
}
#masthead.scrolled .main-navigation .login-dropdown .mega-sub-menu li {
 background-color:#173b3f!important
}
#masthead.scrolled .main-navigation .login-dropdown .mega-sub-menu li:hover {
 background-color:#28656b!important
}
#masthead.scrolled .main-navigation .login-dropdown .mega-sub-menu li:hover a {
 background-color:#28656b!important
}
#masthead.scrolled .main-navigation .login-dropdown .mega-sub-menu li a {
 background-color:#173b3f!important;
 color:#fff!important
}
@media screen and (max-width:1299px) {
 #masthead .main-navigation #mega-menu-item-71523,
 #masthead .main-navigation #mega-menu-item-73912,
 #masthead .main-navigation #mega-menu-item-74683 {
  margin-right:0!important
 }
 #masthead .main-navigation #mega-menu-item-76007,
 #masthead .main-navigation #mega-menu-item-77297 {
  margin-left:0!important
 }
 #masthead .main-navigation .login-dropdown {
  margin:0 10px!important
 }
 #masthead .main-navigation .login-dropdown>.mega-menu-link:after {
  left:10px
 }
 #masthead .main-navigation .login-dropdown .mega-sub-menu li a {
  font-size:14px!important
 }
 #mega-menu-menu-1 {
  max-width:75%!important
 }
 body:not(.mega-menu-menu-1-mobile-open) .mega-menu-item {
  display:none!important
 }
 #mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link {
  height:auto!important
 }
}

@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:300;
 src:url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 src:url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:500;
 src:url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:600;
 src:url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:Inter;
 font-style:normal;
 font-weight:700;
 src:url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:'Inria Serif';
 font-style:italic;
 font-weight:300;
 src:url(https://fonts.gstatic.com/s/inriaserif/v14/fC16PYxPY3rXxEndZJAzN3SuT4THvl-Fbw.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:'Inria Serif';
 font-style:italic;
 font-weight:400;
 src:url(https://fonts.gstatic.com/s/inriaserif/v14/fC1nPYxPY3rXxEndZJAzN3SuRy_lqw.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}
@font-face {
 font-display:swap;
 font-family:'Inria Serif';
 font-style:normal;
 font-weight:400;
 src:url(https://fonts.gstatic.com/s/inriaserif/v14/fC1lPYxPY3rXxEndZJAzN3Srdy0.woff2) format('woff2');
 unicode-range:U+0000-00FF,
 U+0131,
 U+0152-0153,
 U+02BB-02BC,
 U+02C6,
 U+02DA,
 U+02DC,
 U+2000-206F,
 U+2074,
 U+20AC,
 U+2122,
 U+2191,
 U+2193,
 U+2212,
 U+2215,
 U+FEFF,
 U+FFFD
}